*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body{
  background-color: gray;
  display: flex;
  padding: 20px;
  justify-content: center;
  overflow: hidden;
}
button{
  cursor: pointer;
}
.container{
  padding: 10px;
  width: 100vw;
  height: 95vh;
  max-width: 390px;
  border: 2px solid black;
  border-radius: 15px;
}
#scores{
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
#scores div{
  display: flex;
  align-items: center;
}
.icon{
  width: 30px;
  color:gold;
}
.tap-btn{
  width:128px;
  height:128px;
  border-radius:50%;
  font-size:48px
}

@media (max-width:425px) {
  body{
    padding: 0;
  }
  .container{
    padding: 10px;
    height: 100vh;
    max-width: 100vw;
    border: none;
  }
  #scores{
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
  }
  .icon{
    width: 25px;
    color:gold;
  }
}